<!-- A partial to be overwritten by the user.
     Its content will appear before the closing </head>-tag -->

<!--
    Custom fonts
-->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Amita:wght@400;700&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">

{{ $style := resources.Get "css/custom.scss" | toCSS | minify | fingerprint }}
<link rel="stylesheet" href="{{ $style.Permalink }}" integrity="{{ $style.Data.Integrity }}">

<!-- Custom CSS via inline styles
     You may use this template to add custom CSS to your site like so: -->
<style>
:root {
    /* check out https://coolors.co/ namely https://coolors.co/646f57-e9edc9-fefae0-7a925a-faedcd */
    --tmava-pozadi:     #E9EDC9;
    --tmava-pismo:      #646F57; /* 646F57 = avg of 697268 606C47 */
    --svetla-pozadi:    #FEFAE0;
    --svetla-pismo:     #6f8159; /* 6f8159 = avg of 7a925a 646F57 */
    --silena:           #d08080;

    /* === Cover / Landing area === */
    --cover-text-color: var(--tmava-pozadi);
    /* Used for Landing screen menu buttons, but potentially usable for highlighting other things */
    --highlight: var(--tmava-pozadi); /* pozadi */
    --highlight-contrast: var(--tmava-pismo); /* pismo */
    /*inverse colors used for :hover */
    --highlight-inverse: var(--svetla-pozadi); /* pozadi hover */
    --highlight-inverse-contrast: var(--svetla-pismo); /* pismo hover */

    /* visual guard around title and description, when the feature is enabled */
    --cover-title-and-description-guard-bg-color: rgba(255, 255, 255, 0.6);
    --cover-title-text-shadow: var(--tmava-pozadi) 0px 0px 17px;


    /* === sticky top/left navigation menus === */
    --sticky-menu-text-color: var(--tmava-pismo);


    /* === Alternating content (post) sections  === */
    /* Light section */
    --section-light-text-color: var(--svetla-pismo);
    --section-light-bg-color: var(--svetla-pozadi);

    /* Dark section */
    --section-dark-text-color: var(--tmava-pismo);
    --section-dark-bg-color: var(--tmava-pozadi);

    /* Light&Dark section >quote. Suppressive color, compared to 'Light section - text color'*/
    --section-uni-quote: var(--tmava-pismo);
    /* Light&Dark section `code` a bit darker than 'Light section - background color' */
    --section-uni-code-bg-color: var(--svetla-pozadi);

    /* === Footer === */
    --footer-color-background: var(--tmava-pismo);
    --footer-color: #22343a;

    /* === Lists === */
    /* define list element for unnumbered lists, leave empty for default list element */
    /* --ul-li-icon: fa-asterisk; */
}
</style>

<!-- Custom CSS via "custom.css"-file
     If you would rather place your custom CSS into
     a separate file, create a "custom.css" in your
     local "static/css"-directory. Then add a <link>-tag
     referencing your "custom.css" like so: -->

<!-- <link rel="stylesheet" href='{{ "css/custom.css" | absURL }}'> -->

<!-- Custom CSS: Color Codes
     You may checkout https://htmlcolorcodes.com/ to get those
     weird color codes (like "#22343A") ;-). -->

<!-- Custom link-tags for different icons
     Generated via https://favicon.io/favicon-generator/ -->

